/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Acme&family=Aladin&family=Allerta+Stencil&family=Audiowide&family=Courgette&family=Dancing+Script:wght@500;600&family=Fugaz+One&family=Great+Vibes&family=Grenze+Gotisch:wght@400;500&family=Handlee&family=Homemade+Apple&family=Indie+Flower&family=Lobster&family=Luckiest+Guy&family=Merienda&family=Neucha&family=Norican&family=Pacifico&family=Philosopher:wght@400;700&family=Russo+One&family=Sacramento&display=swap");

body {
	position: relative;
	left: 0;
	top: 0;
	background: linear-gradient(to right, #e0eafc, #cfdef3);
}
* {
	outline: none;
	border: none;
}

hr {
	border-bottom: 1px solid;
	transform: scaleY(0.5);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 2px;
}
h2 {
	color: tomato;
}

/* COLORS - BASIC */
.primary {
	background-color: #8621ff;
}
.secondary {
	background-color: #b6b6b6;
	color: black;
}
.info {
	background-color: #5b8aff;
}
.success {
	background-color: #86ff21;
}
.warning {
	background-color: #f69b49;
}
.danger {
	background-color: #f6494e;
}

/* COLORS - BORDER */
.border-primary {
	border-color: #8621ff;
}
.border-secondary {
	border-color: #b6b6b6;
}
.border-info {
	border-color: #5b8aff;
}
.border-success {
	border-color: #86ff21;
}
.border-warning {
	border-color: #f69b49;
}
.border-danger {
	border-color: #f6494e;
}

/* COLORS - HERO */
.primary-hero {
	background: linear-gradient(to right, #9d48e7, #682ddf);
}
.secondary-hero {
	background: linear-gradient(to right, #c9d6ff, #e2e2e2);
	color: black;
}
.info-hero {
	background: linear-gradient(to right, #396afc, #2948ff);
}
.success-hero {
	background: linear-gradient(to right, #7ceb48, #a8e063);
}
.warning-hero {
	background: linear-gradient(to right, #f7971e, #ffd200);
}
.danger-hero {
	background: linear-gradient(to right, #f00000, #dc281e);
}

/* CONTAINER - ROW - COL */
.container {
	position: relative;
}
.row {
	display: flex;
	justify-content: start;
}
.row .col {
	margin: 0 5px;
}
